            
            
                                        <!-- widget single item start -->
                                        <div class="card card-profile widget-item p-0">
                                          <div class="profile-banner" *ngFor="let user of user2">
                                            <figure class="profile-banner-small">
                                              <a [routerLink]="['/profile']">
                                                <img [src]="'https://localhost:44363'+user.bgPic" alt="" class="imgp">
                                              </a>
                                              <a [routerLink]="['/profile']" class="profile-thumb-2">
                                                <img [src]="'https://localhost:44363'+user.profilePic" alt="">
                                              </a>
                                            </figure>
                                            <div class="profile-desc text-center">
                                              <h6 class="author"><a [routerLink]="['/profile']">{{user.name}}</a></h6>
                                              <p>Any one can join with but Social network us if you want Any one can
                                                join with us if you want</p>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- widget single item start -->
                                        <!-- widget single item start  -->
                                        <!-- <div class="card card-profile widget-item p-0">
                                          <div class="profile-banner">
                                            <figure class="profile-banner-small">
                                              <a href="profile.html">
                                                <img src="assets/images/banner/banner-small.jpg" alt="">
                                              </a>
                                              <a href="profile.html" class="profile-thumb-2">
                                                <img src="assets/images/profile/profile-midle-1.jpg" alt="">
                                              </a>
                                            </figure>
                                            <div class="profile-desc text-center">
                                              <h6 class="author"><a href="profile.html">Dimbel Lebmid</a></h6>
                                              <p>Any one can join with but Social network us if you want Any one can
                                                join with us if you want</p>
                                            </div>
                                          </div>
                                        </div> -->
                                        <!-- widget single item start-->
