	.upload {
	  font-weight: bold;
	  color: #28a745;
	  margin-left: 15px;
	  line-height: 36px;
	}
	img {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  height: 100%;
	  width: 100%;
	}