<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <!-- <p>Upload Photo</p> -->
      <div class="form-group">
        <input type="file" name="image" (change)="fileProgress($event)" />
      </div>
      <div *ngIf="fileUploadProgress">
        Upload progress: {{ fileUploadProgress }}
      </div>
      <div class="image-preview " *ngIf="previewUrl">
        <img [src]="previewUrl" height="100" />
      </div>

      <div class="" *ngIf="uploadedFilePath">
        {{uploadedFilePath}}
      </div>
<br>
      <div class="">
        <button class="btn btn-primary" (click)="onUpload()" style="background-color: brown;padding: 5px; border-radius: 10%;">Upload</button>
      </div>
    </div>
  </div>
</div>