<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


    <main role="main" class="inner cover">
      <h1 class="cover-heading">Page Not Found</h1>
      <p class="lead">You maybe access page not found or page you have not permission to access it enjoy with us 
          and welcome again in our ITI Community
      </p>
      <p class="lead">
        <a [routerLink]="['/']" class="btn  btn-light btn-block  text-center align-content-center" style="width: 200px; margin: auto;">Back To Home</a>
      </p>
      
    </main>


  </div>


</body>